<!DOCTYPE html>
 <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href=":::css:::">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,500,700italic,300&subset=latin,cyrillic,greek,cyrillic-ext,latin-ext' 
rel='stylesheet' type='text/css'>
        <base href=":::base:::" target="_blank" />
    </head>
    <body>
        <div class="bg" style="background-image:url(':::img:::');">
            <div class="container">
                <div id="page-front">
                    <div class="stripe">
                        <div id="title"> :::title::: </div>
                        <div id="author"> :::author::: </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
