<!DOCTYPE html>
 <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href=":::css:::">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,500,700italic,300&subset=latin,cyrillic,greek,cyrillic-ext,latin-ext' 
rel='stylesheet' type='text/css'>
        <base href=":::base:::" target="_blank" />
    </head>
    <body>
        :::isbn-pic:::
        <div id="bg" style="background-image:url(':::img:::');">
            <div id="back-text">
                <div class="title"> :::title::: </div>   
                <div class="author"> :::author::: </div>   
            </div>
            <table class="container">
                <tr>
                    <td id="page-back">
                        <div id="cover_pre">:::cover_pre:::</div>
                        <div class="stripe">
                            <div id="cover_stripe">:::cover_stripe:::</div>
                        </div>
                        <div id="cover_after">:::cover_after:::</div>
                    </td>
                    <td id="back" valign="bottom">
                        <div class="stripe_back">
                        </div>
                    </td>
                    
                    <td id="page-front">
                        <div class="stripe">
                            <div id="title"> :::title::: </div>
                            <div id="author"> :::author::: </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
