<!DOCTYPE html>
 <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href=":::css:::">
        <base href=":::base:::" target="_blank" />
    </head>
    <body>
        :::isbn-pic:::
        
        <div class="bg" style="background-image:url(':::img:::');">
          <div id="back-text">
                <div class="title"> :::title::: </div>   
                <div class="author"> :::author::: </div>   
            </div>
          <table class="container">
              <tr>
                <td id="page-back">
                  <div id="back-top">
                  </div>
                  <div id="back-middle">
                    <div id="summary">:::summary:::</div>
                  </div>
                  <div id="back-bottom">
                    <div id="info">
                      <div id="logo"></div>
                    </div>
                  </div> 
                </td>
                
                <td id="back" valign="bottom">
                
                </td>
                
                <td id="page-front">
                  <div id="front-top">
                    
                  </div>
                  <div id="front-middle">
                    <div id="title"> :::title::: </div>
                  </div>
                  <div id="front-bottom">
                    <div id="author"> :::author::: </div>
                  </div>
                </td>
              </tr>
          </table>
        </div>
        
    </body>
</html>
