@import "_tools.scss";
$titleFontSize: 120px;
$authorFontSize: 80px;
$color: rgba(#009DFF, 0.9);
$front-color: #fff;
$front-image-border-color: #fff;
$background-color: #FF7919;

$back-pattern: "images/pattern/tasky_pattern_@2X.png";

$path-prefix: "../../";
