@import "compass/css3";
@import "compass/utilities";
@import "compass/support";

$front-width: $width - $back - $begin;
$back-width: $begin;

*, *:before, *:after {
  box-sizing: inherit;
}

* {
    border: 0px none;
    margin: 0;
    padding: 0;
}

table {
     border-collapse:collapse;
}

html {
    width: $width;
    height: $height;
    margin: 0px;
    padding: 0px;
    font-family: 'Lora', sans-serif;
    position: relative;
    box-sizing: border-box; 
}

#container {
    width: $width;
    height: $height;
}

td#back {
    width: $back;
    max-width: $back;
    height: $height;
}

@if $back < mm-to-px(5)  {
    td#back {
        vertical-align: middle;
    }

    #back-text {
        display: none;
    }
   
} @else {
    /* this is in the table */
    td#back {
        background-image: url($path-prefix+$back-pattern);
        background-repeat: repeat;
        border-right: 5px solid #000;
        border-left: 5px solid #000;
    }
    $font-size:  $back*0.4;

    @if $back < mm-to-px(10)  {
        $font-size:  $back*0.6;
    } @else {
        $font-size:  $back*0.4;
    }
    @if $font-size > 80px {
        $font-size:  80px
    } 
    /* this is a overlay */
    #back-text {
        position: absolute;
        top:0;
        width: $height;
        height: $back;
        margin: ($height/2 - $back/2) (($width - $height)/2);
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin: bottom bottom;
        font-size: $font-size;
        color: #fff;
        white-space: nowrap;
    }
    .title {
        float: right;
        padding-right: $margin-topbottom + $padding;
        line-height: $back;
    }
    .author {
       float: left;
       padding-left: $margin-topbottom + $padding;
       line-height: $back;
    }
}
  


#page-back {
    width: $back-width;
    height: $height;
    vertical-align: middle;
}

#page-front {
    width:$front-width;
    height: $height;
    vertical-align: middle;
}

#front-top {
  width: $front-width;
  height: $front-height-top;
  
  padding-right: $margin-rightleft;
  padding-top: $margin-topbottom;
}
#front-middle {
  width: $front-width;
  height: $front-height-middle;
  padding-right: $margin-rightleft;
}
#front-bottom {
  width: $front-width;
  height: $front-height-bottom;
  
  padding-right: $margin-rightleft;
  padding-bottom: $margin-topbottom;
  padding-top: $back-height-bottom * 0.15;
  background: -webkit-linear-gradient(#FDFDFD, #F8F4EC);
  border-top: 5px solid #fff;
  box-shadow:         0px -13px 16px 0px rgba(50, 50, 50, 0.74);
  
}


#title {
  padding: mm-to-px(8);
  font-size: $titleFontSize;
  color: $front-color;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
  text-shadow: 8px 8px 3px rgba(0,0,0,0.6);
}

#author {
  padding-bottom: $margin-topbottom;
  font-size: $authorFontSize;
  color: #000;
  text-align: center;
  width: 100%;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    
}


.bg {
  background-repeat:  no-repeat;
  background-size: cover;
  width: $width;
  height: $height;
}

#isbn {
  position: absolute;
  max-height: 390px;
  max-width: 800px;
  top: $height - 450px;;
  left: $begin - 895px;
}


#back-top {
  width: $back-width;
  height: $back-height-top;
  padding-left: $margin-rightleft;
  padding-top: $margin-topbottom;
}
#back-middle {
  width: $back-width;
  height: $back-height-middle;
  
  padding-left: $margin-rightleft + 30px;
  padding-right: $margin-topbottom + 30px;
}
#back-bottom {
  width: $back-width;
  height: $back-height-bottom;
  
  padding-left: $margin-rightleft + 30px;
  padding-bottom: $margin-topbottom + 20px;
  
  background: -webkit-linear-gradient(#FDFDFD, #F8F4EC);
  border-top: 5px solid #fff;
  box-shadow: 0px -13px 16px 0px rgba(50, 50, 50, 0.74);
}

#summary {
  border-radius: 30px;
  background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.7));
  border: 5px solid rgba(255,255,255,1);
  font-size: 60px;
  padding: 50px;
}
#info {
  height: $back-height-bottom;
  padding-top: $back-height-bottom * 0.15;
  padding-left: 20px;
}

#logo {
  height: $back-height-bottom * 0.3;
  width: 100%;
  background-image: url($path_prefix +"images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;  
}